body {
    font-family: Arial, sans-serif;
    margin: 0;letter-spacing: normal;
    padding: 0;
    line-height: 1.6;
}

::-moz-selection {
    background: #f58320a7; /* Gecko Browsers */
    color: #fff;
}

::selection {
    background: #f58320a7; /* Gecko Browsers */
    color: #fff;
}

header, footer {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

section {
    padding: 20px;
    border-bottom: 1px solid #ccc;
    text-align: center;
}

#countdown {
    font-size: 20px;
}

h2 {
    color: #333;
}

#input-form {
    padding: 20px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

form > input {
    height: 30px;
}

form > input[type="submit"] {
    /* height: 30px; */
}

input#first-name {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}
input[type="text"],
input[type="email"] {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    padding-left: 15px;
    margin: 0px 10px;
    border: 1px solid #ccc;
}

input[type="submit"] {
    padding: 10px 30px;
    border: none;
    background: #333;
    color: #fff;
    cursor: pointer;
    transition: background 0.3s;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    height: 52px;
    /* width: ; */
}

input[type="submit"]:hover {
    background: #555;
}

@media (max-width: 200px) {
    form {
        flex-direction: column;
    }
}